@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --ff-regular: 'Roboto', sans-serif;;
    --fw-light: 300;
    --fw-stardard:400;
    --fw-bold: 700;
    --fw-black: 900;
}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
    font-family: var(--ff-regular);
}
/* Estilos para los contenedores principales */
.container {
    margin-top: 20px;
}

/* Estilos para botones y enlaces */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para los títulos */
h1, h2, h3 {
    color: #000;
}

body {
    color: #000;
    background: #e8f0f7;
   
}

.navbar-container{
    display: grid;
    grid-template-rows: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.icons { 
    color: rgb(202, 202, 202);
    margin-top: .2rem;
    margin-right: -.25rem;
}
/* Estilos generales para la barra de navegación */
.navbar-top {
    background-color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3rem;
    height: 2rem;
  }

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
   
  }

.navbar-item {
    padding-right: 15px;
}

.navbar-item a {
    color: #c4c4c4; /* Color de texto */
    text-decoration: none;
    padding: 10px;
    user-select: none; /* Evitar el resaltado de texto */
  }

  .navbar-link:hover {
    color: #fff; /* Cambiar el color de texto a blanco */
    text-decoration: none; /* Evitar subrayado */
    pointer-events: pointer; /* Evitar el efecto de hipervínculo */
    cursor: pointer;
  }

  #home-icon {
    height: 24px;
    width: 24px;
    border-radius: 100%;
  }
  
  .navbar-bottom {
    background-color: #292dff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3rem;
    height: 2rem;
  }

.navbar-item {
    padding-right: 15px;
}

.navbar-item2 a {
    color: #ffffff; /* Color de texto */
    text-decoration: none;
    padding: 10px;
    user-select: none; /* Evitar el resaltado de texto */
  }

  .navbar-link2:hover {
    color: #fff; /* Cambiar el color de texto a blanco */
    text-decoration: none; /* Evitar subrayado */
    pointer-events: pointer; /* Evitar el efecto de hipervínculo */
    cursor: pointer;
    opacity: 60%;
  }

#home {
    margin-right: 46.35rem;
    font-weight: var(--fw-bold);
    padding-left: 1.15rem;

    
}

#home:hover {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/*burbujas*/
.burbuja{
    width: 80px;
    height: 80px;
    background-color: #fff;
    opacity: .3;
    border-radius: 50%;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration:63s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 655%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);

    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento {
   0%{
    transform: translateY(0);
   }
   50%{
    transform: translateY(30);
   }
   100%{
    transform: translateY(0);
   } 
}




/* Estilos para los servicios y secciones */
.card {
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #212226;
    padding: 20px;
}
footer p{
    color: #fff;
}

/*Estilos para la seccion a cerca de*/
.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgb(0, 0, 0, .6);
}
.about-item i{
    font-size: 43px;
    margin:0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}

.about-item:hover{
    background-color: #5fbff9;
}
.about-item:hover i, .about-item:hover h3, .about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i, .about-item:hover h3, .about-item:hover hr{
    transition: all 400ms ease-in-out;
}
