@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --ff-regular: 'Roboto', sans-serif;;
    --fw-light: 300;
    --fw-stardard:400;
    --fw-bold: 700;
    --fw-black: 900;
}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
    font-family: var(--ff-regular);
}

/* Estilos para los títulos */
h1, h2, h3 {
    color: #000;
}

body {
    color: #000;
    background: #e8f0f7;
    overflow: hidden;
   
}

.navbar-container{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.icons { 
    color: rgb(202, 202, 202);
    margin-top: .2rem;
    margin-right: -.25rem;
}
/* Estilos generales para la barra de navegación */
.navbar-top {
    background: rgb(0,5,31);
    background: linear-gradient(90deg, rgba(0,5,31,1) 0%, rgba(59,59,59,1) 63%, rgba(148,148,148,1) 100%);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3rem;
    height: 2rem;
  }

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
   
  }

.navbar-item {
    padding-right: 15px;
}

.navbar-item a {
    color: #c4c4c4; /* Color de texto */
    text-decoration: none;
    padding: 10px;
    user-select: none; /* Evitar el resaltado de texto */
  }

  .navbar-link:hover {
    color: #fff; /* Cambiar el color de texto a blanco */
    text-decoration: none; /* Evitar subrayado */
    pointer-events: pointer; /* Evitar el efecto de hipervínculo */
    cursor: pointer;
  }

  #home-icon {
    height: 24px;
    width: 24px;
    border-radius: 100%;
  }
  
  .navbar-bottom {
    background: rgb(0,10,65);
    background: linear-gradient(90deg, rgba(0,10,65,1) 0%, rgba(20,20,94,1) 49%, rgba(0,5,84,1) 100%);
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3rem;
    height: 2rem;
  }

.navbar-item {
    padding-right: 15px;
}

.navbar-item2 a {
    color: #ffffff; /* Color de texto */
    text-decoration: none;
    padding: 10px;
    user-select: none; /* Evitar el resaltado de texto */
  }

  .navbar-link2:hover {
    color: #fff; /* Cambiar el color de texto a blanco */
    text-decoration: none; /* Evitar subrayado */
    pointer-events: pointer; /* Evitar el efecto de hipervínculo */
    cursor: pointer;
    opacity: 60%;
  }

#home {
    margin-right: 46.35rem;
    font-weight: var(--fw-bold);
    padding-left: 1.15rem;

    
}

#home:hover {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/*Banner*/

.contenedor {
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    height: 65vh;
    background-color: #292dff;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.texto-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    height: 100%;
 
}

.titulo-banner {
    display: flex;
    color: rgba(255, 255, 255, 0.911);
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    font-weight: var(--fw-bold);
}

.parrafo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-right: 15%;
    padding-left: 15%;


}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-banner {
    
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: #3d3d3de8;
    color: white;
    box-shadow: 5px 5px 5px rgba(105, 73, 73, 0.15);
    cursor: pointer;
  
}

.button-banner:hover {
    background-color: #3d3d3da2;
    transition: 500ms;
    color:rgba(255, 255, 255, 0.397);
}





/*burbujas*/
.burbuja{
    width: 80px;
    height: 80px;
    background-color: #fff;
    opacity: .3;
    border-radius: 50%;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration:63s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 655%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);

    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento {
   0%{
    transform: translateY(0);
   }
   50%{
    transform: translateY(30);
   }
   100%{
    transform: translateY(0);
   } 
}




/* Estilos para el pie de página */
footer {
    background-color: #212226;
    padding: 20px;
}
footer p{
    color: #fff;
}