@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --ff-regular: 'Roboto', sans-serif;;
    --fw-light: 300;
    --fw-stardard:400;
    --fw-bold: 700;
    --fw-black: 900;
}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
    font-family: var(--ff-regular);
}


body {
    background: #ffffff;
}



/* Estilos generales para la barra de navegación */

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-top: 15px;
    padding-bottom: 15px;
    color: black;
    position: sticky;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding-left: 15%;

}

.title{

    font-weight: var(--fw-bold);
    margin: 0;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
    
}

#home-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }


.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.about :hover {
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: #000000;

}


.navbar-item a{
    color: black;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
}

.button-banner {
    
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: #3d3d3de8;
    color: white;
    box-shadow: 5px 5px 5px rgba(105, 73, 73, 0.15);
    cursor: pointer;
  
}

.button-banner:hover {
    background-color: #3d3d3da2;
    transition: 500ms;
    color:rgba(255, 255, 255, 0.397);
}



.button-banner a {
    text-decoration: none;
    color: white;
    font-size: 15px ;
}
  
 


/*Banner*/

.contenedor {
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    height: 65vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.texto-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    height: 100%;
 
}

.titulo-banner {
    display: flex;
    color: rgba(0, 0, 0, 0.911);
    padding-top: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-bold);
    font-size: 50px;
}

.parrafo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-right: 15%;
    padding-left: 15%;


}


/*burbujas*/
.burbuja{
    width: 80px;
    height: 80px;
    background-color: #fff;
    opacity: .3;
    border-radius: 50%;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration:63s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 655%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);

    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento {
   0%{
    transform: translateY(0);
   }
   50%{
    transform: translateY(30);
   }
   100%{
    transform: translateY(0);
   } 
}

/* About us Section */

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    height: 60vh;
    width: 100%;
    background-color: rgba(129, 129, 250, 0.644);
    
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size:22px;
    padding-left: 30%;
    padding-right: 30%;
    position: relative;
    color: white;
    line-height: 1.7;


}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.about-us img {
    width: 300px; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 300px; /* Ajusta la imagen al 100% de la altura del contenedor */
    border-radius: 50% 100% 200% ;

  }

  /* Result Section */

  .result-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    height: 60vh;
    width: 100%;
 
}

.result-text {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size:22px;
    padding-left: 30%;
    padding-right: 30%;
    position: relative;
    line-height: 1.7;


}

.result-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.result-us img {
    width: 300px; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 300px; /* Ajusta la imagen al 100% de la altura del contenedor */
    border-radius: 50% 100% 200% ;

  }


/* Estilos para el pie de página */
footer {
    background-color: #212226;
    padding: 20px;
    position:relative;
}
footer p{
    color: #fff;
}